#cabecera {
    background: url(https://media.discordapp.net/attachments/216653962529603584/719628110563377202/Anaitasuna.png);
    color: darkgreen;
}

.nav-item {
    font-size: 1.5em;
    padding: 0px, 20px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    margin-bottom:80px;
    background-color: gray;
}

html {
    position: relative;
    min-height: 100%;
}

.deportes li {
    display: inline;
    size: 3em;
    padding: 6px;
    margin: 10px;
    border: 1px solid black;
    background: darkgreen;
}

.deportes li a {
    color: gold;
}

.deportes li:hover {
    background: green;
}

.formSocio {
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
}
