<div class="row">
    <div class="col-sm-4">
        <form name="formSocio" ng-submit="validar()" novalidate>
            <h3>Comprobar estado de socio</h3>

            <div ng-show="esSocio" class="alert alert-success" role="alert">
                Usted es socio del club Anaitasuna
            </div>

            <div class="alert alert-info" role="alert" ng-show="noSocio">
                Usted no es socio del club Anaitasuna
            </div>

            <div class="alert alert-danger" role="alert" ng-show="mostrarMensajeError">
                {{ errorPromise }}
            </div>

            <p>DNI</p>
            <input type="text" ng-model="socios.dni" name="dni"/><br/>
            <span ng-show="dniError">El campo dni no puede estar vacio</span>
            <br/>
            <p>Nombre</p>
            <input type="text" ng-model="socios.nombre" name="nombre"/><br/>
            <span ng-show="nombreError">El campo nombre no puede estar vacio</span>
            <br/>
            <input type="submit" class="btn btn-primary mb-2" value = "Comprobar">
        </form>
    </div>


    <div class="col-sm-8">
        <h2>Noticias</h2>
        <button data-ng-click="listar()">Mostrar noticias</button>
        <div data-ng-repeat="noticia in noticias">
            <h3>{{ noticia.titulo }}</h3>
            <p>{{ noticia.descripcion }}</p>
        </div>  
    </div>
</div>