<div>
    <h3>Secciones deportivas</h3>
    
    <p>Esta es la sección deportiva donde el club Anaitasuna dispone de los siguientes deportes a practicar:</p>
    <div class="">
        <ul class="deportes">
            <li><a href="http://www.anaitasuna.com/balonmano/balonmano.html" target="_blank">Balonmano</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/gimnasia/seccion.html" target="_blank">Gimnasia Ritmica</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/montana/historia.html" target="_blank">Montañismo</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/ciclismo/ciclismo.html" target="_blank">Ciclismo</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/futbolsala/futbolsala.html" target="_blank">Fútbol Sala</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/halterofilia/halterofilia.html" target="_blank">Halterofilia</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/judo/judo.html" target="_blank">Judo</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/natacion/seccion.html" target="_blank">Natación</a></li>
            <li><a href="http://www.anaitasuna.com/secciones/padel/padel.html" target="_blank">Padel</a></li>
        </ul>
    </div>
    <div></div>
    <form class="formSocio" name="formAnadirSocio" ng-submit="validar()" novalidate>
        <fieldset>

            <div ng-show="mostrarMensajeExito" class="alert alert-success" role="alert">
                Gracias por su mensaje, le responderemos cuanto antes.
            </div>
            <div class="alert alert-danger" role="alert" ng-show="mostrarMensajeError">
                {{ errorPromise }}
            </div>

            <legend>Inscríbase como socio</legend>
            <div ng-show="cajaErrores" class="alert alert-danger" role="alert">
                <p ng-show="dniError">El campo dni no puede estar vacio</p>
                <p ng-show="nombreError">El campo nombre no puede estar vacio</p>
                <p ng-show="apellidoError">El campo apellido no puede estar vacio</p>
                <p ng-show="edadError">Debe introducir una edad entre 5 y 80 años</p>
                <span ng-show="emailError">Introduzca un email válido</span>
            </div>

            <label>DNI:</label>
            <input type="text" ng-model="secciones.dni" name="dni" class="form-control" required>

            <br/>
            <label>Nombre:</label>
            <input type="text" ng-model="secciones.nombre" name="nombre" class="form-control" required>

            <br/>
            <label>Apellidos:</label>
            <input type="text" ng-model="secciones.apellido" name="apellido" class="form-control" required>
            
            <br/>
            <label>Edad:</label>
            <input type="number" ng-model="secciones.edad" name="edad" min="5" max="80" class="form-control" required/>
            <br/>
            <label>Correo electrónico:</label>
            <input type="email" ng-model="secciones.email" name="email" class="form-control" required/>

            <br/>
            <label>¿Le gustaría inscribirse en algún deporte?</label>
            <select name="deportes" ng-model="secciones.deportes" ng-options="obj.value as obj.label for obj in secciones.eleccion">
                <option value="">No, gracias</option>
            </select>
            <br/>
            <br/>
            <input type="submit" class="btn btn-success mb-2" value="Registro" />
            <button type="reset" class="btn btn-danger mb-2">Limpiar</button>
        </fieldset>
    </form>
    <div ng-show="completo">
        Gracias por inscribirse, pronto nos pondremos en contacto con usted.
    </div>
</div>